
<form action="/" method="post">
	<div class="input-div">
		Collaboration Topic:<br>
		<input type="text" name="topic" class="text">
	</div>
	<div class="input-div">
		Meeting Coordinator (email):<br>
		<input type="text" name="coordinator" class="text">
	</div>
	<div class="input-div">
		Time (example: "3 hours from now"):<br>
		<input type="text" name="time" class="text">
	</div>
	<div class="input-div">
		Participants (emails seperated by commas):<br>
		<input type="text" name="participants" class="text">
	</div>
	<div>
		Message:<br>
		<textarea name="message"></textarea> 
	</div>
	
	<input type="image" src="images/submit.gif" alt="Submit" style="margin-left:125px; margin-top:40px;">
	
	<div id="footer" style="margin-left:-80px; margin-top:35px;">
		<div id="poweredby" onClick="window.location='http://api.drop.io'"></div>
		<div id="diggit"><script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script></div>
		<div style="clear:left; padding-left:10px; padding-top:2px;"><a href="http://github.com/dropio/collabio/tree" style="color:#000;">get the source code here</a></div>
	</div>
</form>