
<form action="/" method="post">
	<div class="input-div">
		Collaboration Topic:<br>
		<input type="text" name="topic" class="text">
	</div>
	<div class="input-div">
		Meeting Coordinator (email):<br>
		<input type="text" name="coordinator" class="text">
	</div>
	<div class="input-div">
		Time (example: "3 hours from now"):<br>
		<input type="text" name="time" class="text">
	</div>
	<div class="input-div">
		Participant(s):<br>
		<input type="text" name="participants" class="text">
	</div>
	<div>
		Message:<br>
		<textarea name="message"></textarea>
	</div>
	<%= token_tag %>
	<input type="image" src="images/submit.gif" alt="Submit" style="margin-left:150px; margin-top:40px;">
</form>
