<div class="input-div">
	Collaboration Title:<br>
	<input type="text">
</div>
<div class="input-div">
	Time:<br>
	<input type="text">
</div>
<div class="input-div">
	Participant(s):<br>
	<input type="text">
</div>
<div>
	Message:<br>
	<textarea></textarea>
</div>
<img src="images/submit.gif" style="margin-left:150px; margin-top:80px;">
