<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>collab.io</title>
	<style>

		body {
			background:#e5e5e5;
			font-family:georgia; 
			color:#333; 
			font-size:12px;
		}
	
		input {
			width:300px;
			background:url(images/text-bg.gif) repeat-x;
			border:solid 1px #ddd;
			height:25px;
			font-size:14px;
			font-family:georgia;
			padding:3px;
		}
	
		textarea {
			width:400px;
			height:150px;
			background:url(images/text-bg.gif) repeat-x;
			border:solid 1px #ddd;
			font-size:14px;
			font-family:georgia;
			padding:3px;
		}
	
		#content {
			width:707px;
			height:660px;
			background:url(images/bg.jpg);
			text-align:left;
			padding-top:140px;
			padding-left:90px;
		}
	
		.input-div {
			margin-bottom:30px;
		}
	</style>
<body>
	<center>
		<div id="content">
			<%= yield %>
		</div>
	</center>
</body>
</html>